{% extends "partials/layout.html" %}

{% block header %}
{{super()}}
{% endblock %}

{% block body %}
<div class="ui grid container">
  <div class="twelve wide column">

    {% include "partials/tabs.html" %}

    <div class="ui bottom attached active tab segment">
      <div class="ui grid">

        <div class="five wide column">
          <img src="static/img/scouts.jpg" class="ui medium image">
        </div>

        <div class="seven wide column">
          <h1>Evergreens Scouts</h1>

          Bromsgrove based scout group
        </div>

      </div>
    </div>

    {% include "partials/latestNews.html" %}
  </div>
</div>
{% endblock %}
