{% extends "partials/layout.html" %}
{% block headerAdditionals %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
{% endblock  %}

{% block body %}
<div class="container">
    <div class="col-sm-8 card">
        <h1>Evergreens Scouts</h1>

        <p>Bromsgrove based scout</p>
    </div>

    <div class="col-sm-3 hidden-xs card">
        <h1>Latest News</h1>
    </div>

    <div class="col-sm-8 card">
        <h2>Find us</h2>
        <div id="map">

        </div>
    </div>

    <script>
        lat = 52.33555;
        lon = -2.07110;
        var map = L.map('map').setView([lat, lon], 15);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([lat, lon]).addTo(map)
            .bindPopup('Evergreens Scout Hut')
            .openPopup();
    </script>
</div>
{% endblock %}
