{% extends "partials/layout.html" %}

{% block headerAdditionals %}
<link href='{{url_for("static", filename="css/landing.css")}}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-sm-8 card">
        {% for program in programs %}
            {% if program["name"] %}
                <h2>{{ program["name"] }}</h2>
            {% endif %}

            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Activity</th>
                    <th>Notes</th>
                </tr>
                {% for event in program["events"] %}
                    <tr>
                        <td>{{event[0] | format_date}}</td>
                        <td>{{event[1]}}</td>
                        <td>{{event[2]}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

    {% include "partials/latestNews.html" %}
</div>
{% endblock %}
