{% extends "partials/layout.html" %}

{% block header %}
{{super()}}
<script src="/static/javascript/editNews.js"></script>
{% endblock %}

{% block body %}
<div class="ui grid container">
  <div class="sixteen wide column">

    <div class="ui top attached tabular menu">
      <a class="active item" href="/admin/articles">Articles</a>
      <a class="item" href="/admin/programs">Programs</a>
    </div>

    <!-- Articles Tab -->
    <div class="ui bottom attached segment">
      <h2>News Articles</h2>

      <a class="ui button" id="newArticleButton">New Article</a>

      <table class="ui stacking table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Outline</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Unit</th>
          <th>Published</th>
          <th></th>
        </tr>
        </thead>
        {% for article in articles %}
          <tr class={{"disabled" if article["deleted"] else ""}}>

            <td><a href="/news/{{article['id']}}">{{article["title"]}}</a></td>
            <td>{{article["outline"]}}</td>
            <td>{{article["created"] | format_date_readable}}</td>

            <td>
              {% if article["updated"] %}
              {{article["updated"] | format_date_readable}}
              {% endif %}
            </td>

            <td>{{article["unit"]}}</td>

            <td class="center aligned">
              {% if article["published"] %}
                <i class="checkmark icon"></i>
              {% endif %}
            </td>

            <td>
              <button class="ui icon button" onclick="delete_article('{{article['id']}}')">
                <i class="trash icon"></i>
              </button>

            </td>
          </tr>
        {% endfor %}

      </table>
    </div>
  </div>
</div>

<script>
  $('.menu .item').tab();
  $("#newArticleButton").click(function() {
    create_new_article();
    location.reload();
  });

  function delete_article(id) {
    alert(id);
    $.ajax({
        type: "DELETE",
        url: "/api/news/" + id,
        success: function(response){
            console.log("Success");
            $.notify("Success", "success");
        },
        error: function () {
            console.log("Error");
        }
    });
  }
</script>

{% endblock %}
