{% extends "partials/layout.html" %}
{% block headerAdditionals %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.4/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.4/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
{% endblock  %}

{% block body %}
<script>
    var programName = "{{name}}";
</script>

<div class="container">
    <div class="col-sm-12 card">
        <a href="/admin">Back</a>
        <h1>{{ name }} Program </h1>
        <div id="program"></div>
        <script type="text/babel" src="/static/javascript/program.js"></script>
    </div>
</div>
{% endblock %}
