{% extends "partials/layout.html" %}
{% block headerAdditionals %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.1/trix.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.1/trix.js"></script>
    <script src="/static/javascript/editNews.js"></script>
{% endblock %}

{% block body %}

<div class="ui grid container">
    <div class="fourteen wide column">
        <div class="ui segment">

            <form method="post" class="ui form" id="editNewsForm">

                <!--Title-->
                <div class="fields">
                    <div class="ten wide field">
                        <label for="title">Title</label>
                        <input value="{{article['title']}}" id="title" name="title" class="form-control">
                    </div>
                </div>

                <!--Outline + unit-->
                <div class="fields">
                    <div class="ten wide field">
                        <label for="Outline">Outline</label>
                        <input value="{{article['outline']}}" id="outline" name="outline" class="form-control">
                    </div>

                    <div class="four wide field">
                        <label for="unit">Unit</label>
                        <select name="unit" id="unit" class="form-control">
                            {% with unit = article["unit"] %}
                                <option value="general" {{ "selected" if unit=="general" or "" else ""}}>General</option>
                                <option value="scouts" {{ "selected" if unit=="scouts" }}>Scouts</option>
                                <option value="cubs" {{ "selected" if unit=="cubs" }}>Cubs</option>
                                <option value="beavers" {{ "selected" if unit=="beavers" }}>Beavers</option>
                                <option value="explorers" {{ "selected" if unit=="explorers" }}>Explorers</option>
                                <option value="network" {{ "selected" if unit=="network" }}>Network</option>
                            {% endwith %}
                        </select>
                    </div>
                </div>

                <!--State-->
                <p>State: {{article['state']}}</p>

                <!--Text field-->
                <div class="form-group">
                    <input id="body" value="{{article['body'] | safe}}" type="hidden" name="content" class="form-control">
                    <trix-editor input="body"></trix-editor>
                </div>

                <!--Bottom button row-->
                <div class="form-group">
                    <a class="ui button" role="button" href="/news/{{article['id']}}">Back</a>
                    <!--<a class="ui button" role="button" href="/admin">Show all</a>-->
                    {% if article["state"] == "deleted" %}
                        <a class="ui button" role="button" onclick="restoreNews({{id}})">Restore</a>
                    {% else %}
                        <a class="ui button" role="button" onclick="publishNews({{id}})">Publish</a>
                        <a class="ui button" role="button" onclick="deleteNews({{id}})">Delete</a>
                    {% endif %}

                    <a class="ui button" id="saveButton">Save</a>
                    <!--<input type="submit" value="Save" class="ui button">-->
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#saveButton").click(function(event){
        submit_edit_news_form("{{article['id']}}");
        return false;
    });
</script>
{% endblock %}
