{% extends "partials/layout.html" %}

{% block header %}
{{super()}}
    <script src="/static/javascript/editNews.js"></script>
{% endblock %}

{% block body %}
<div class="ui grid container">
    <div class="sixteen wide column">

        <div class="ui top attached tabular menu">
            <a class="item" href="/admin/articles">Articles</a>
            <a class="active item" href="/admin/programs">Programs</a>
        </div>

        <!-- Articles Tab -->
        <div class="ui bottom attached segment">
            <!--<div id="articleList">-->

            <h2>Programs</h2>

            <a class="ui button" id="newProgram">New Program</a>

            <table class="ui table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                {% for program in program_list %}
                <tr>
                    <td><a href="/news/{{program['name']}}">{{program["name"]}}</a></td>

                    <td>{{program["unit"]}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<script>
    $('.menu .item').tab();
    $("#newArticleButton").click(create_new_article)
</script>

{% endblock %}
