{% extends "partials/layout.html" %}
{% block headerAdditionals %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/default-skin/default-skin.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js"></script>
{% endblock  %}

{% block body %}
<div class="container">
    <div class="col-md-8 card">


        {% include "partials/gallery_header.html" %}
        {% include "partials/latestNews.html" %}

        <script>
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            var items = [
                {
                    src: '/api/images?id=1',
                    w: 800,
                    h: 500
                },
                {
                    src: '/api/images?id=3',
                    w: 1200,
                    h: 900
                }
            ];

            // define options (if needed)
            var options = {
                // optionName: 'option value'
                // for example:
                index: 0 // start at first slide
            };

            // Initializes and opens PhotoSwipe
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        </script>

    </div>
    {% endblock %}
</div>