{% extends "partials/layout.html" %}
{% block headerAdditionals %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/default-skin/default-skin.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js"></script>

<script src="/static/javascript/image_gallery.js"></script>
{% endblock  %}

{% block body %}
<div class="ui  grid container">
  <div class="ui segment">

    {% include "partials/gallery_header.html" %}

    <div class="ui stackable grid">
      {% for image in images %}
      <div class="five wide column">

        <img src="{{'/api/images/{}_thumb.jpg'.format(image['file'])}}" class="ui centred image">
        {{image["name"] }}
      </div>
      {% endfor %}

    </div>

    <script>
//      initialise_gallery();
    </script>

  </div>
  {% endblock %}
</div>