{% extends "partials/layout.html" %} {% block body %}
<div class="ui grid container">
    <div class="twelve wide column">
        <div class="ui segment">
            {% if current_user.is_authenticated %}
            <a class="ui button" role="button"    href="/news/{{article['id']}}/edit">Edit</a>
            <a class="ui button" role="button" href="/admin">Show all</a> {% endif %}

            <!--title-->
            <h1>{{article["title"]}}</h1>

            <!--date-->
            <p class="text-muted">
                Created: {{article["created"] | format_date_readable}}
                {% if (article["updated"] != None) %}
                    Updated: {{ article['updated'] | format_date_readable}}
                {% endif %}
            </p>

            <!--Body-->
            {{article["body"] | safe}}
        </div>
    </div>
</div>
{% endblock %}
