{% extends "partials/layout.html" %}

{% block body %}
<div class="container">
    <div class="col-sm-8 card">

        {% if current_user.is_authenticated %}
            <a class="btn btn-default" role="button" href="/news/{{article['eid']}}/edit">Edit</a>
            <a class="btn btn-default" role="button" href="/admin">Show all</a>
        {% endif %}

        <h1>{{article["title"]}}</h1>

        <p class="text-muted">
            Created: {{article['created'] | format_date_readable}}
            {% if (article['created'] != article["updated"]) %}
                Updated: {{ article['updated'] | format_date_readable}}
            {% endif %}
        </p>

        {{article["body"] | safe}}
    </div>
</div>
{% endblock %}
