{% extends "partials/layout.html" %}
{% block headerAdditionals %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.css"/>
{% endblock  %}

{% block body %}
<div class="ui container">
  <div class="twelve wide column">
    <div class="ui segment">
      <h1>Image Upload</h1>

      <ul>
        <li>Accepted formats are .jpg and .png</li>
        <li>Child protection</li>
      </ul>

      <form action="/upload" method="post" enctype="multipart/form-data" class="dropzone">
        <div class="fallback">
          <p>Error, loading upload form.</p>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
