{% extends "partials/layout.html" %}
{% block headerAdditionals %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.css"/>
{% endblock  %}

{% block body %}
<div class="container">
    <div class="col-sm-12">
        <div class="card">
            <h1>Upload</h1>

            <p>Upload guidelines go here</p>

            <form action="/upload" method="post" enctype="multipart/form-data" class="dropzone">
                <div class="fallback">
                    <p>Error, loading upload form.</p>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
