<nav class="ui attached tabular menu">
    {% if group == "cubs" %}
        <a href='/cubs' class="{{'about' | active_item(tab)}}">About</a>
        <a href='/cubs/program' class="{{'program' | active_item(tab)}}">Program</a>
        <a href='/cubs/contact' class="{{'contact' | active_item(tab)}}">Contact</a>
        <a href='/news/6' class="item">FAQ</a>
    {% endif %}

    {% if group == "scouts" %}
        <a href='/scouts' class="{{'program' | active_item(tab)}}">About</a>
        <a href='/scouts/program' class="{{'program' | active_item(tab)}}">Program</a>
        <a href='/scouts/contact' class="{{'contact' | active_item(tab)}}">Contact</a>
    {% endif %}

    {% if group == "beavers" %}
        <a href='/beavers' class="{{'about' | active_item(tab)}}">About</a>
        <a href='/beavers/program' class={{'contact' | active_item(tab)}}>Program</a>
    {% endif %}

    {% if group == "explorers" %}
        <a href='/beavers' class="{{'about' | active_item(tab)}}">About</a>
        <a href='/beavers/program' class={{'program' | active_item(tab)}}>Program</a>
    {% endif %}

    {% if group == "network" %}
        <a href='/beavers' class="{{'about' | active_item(tab)}}">About</a>
        <a href='/beavers/program' class="{{'program' | active_item(tab)}}">Program</a>
    {% endif %}
</nav>